<header>
    <nav class="navbar navbar-expand-lg navbar-light mt-5">
        <div class="containerr">
            <a href="/FinalProject/jsp/user/home_page.jsp" class="navbar-brand font-weight-bold">Library.var</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle" >
                <ul class="navbar-nav mx-auto">
                    <li><a class="nav-link" href="/FinalProject/">Search for books</a></li>

                </ul>
                <form method="get" action="${pageContext.request.contextPath}/controller/user/orders">
                    <input type="number" hidden name="id" value="${sessionScope.user.id}">
                    <button class="btn navbar-btn btn-dark" type="submit">Show orders</button>
                </form>
                <form method="post" action="${pageContext.request.contextPath}/controller/logout">
                    <button class="btn navbar-btn btn-dark" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </nav>
</header>